# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.egg
*.egg-info/
dist/
build/
*.egg-info/
*.spec

# Log files
*.log

# Local configuration file
local_config.py

# .env file
.env

# Database
*.db
*.sqlite3
